In [1]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

In [1]:
a = "Harry Potter and the Sorcerer’s Stone"

In [2]:
len(a)

37

In [3]:
p.age

36

In [4]:
setattr(Person, 'age', 40)

In [5]:
p.age

40

In [7]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

In [8]:
getattr(Person, 'age')

36

In [9]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

In [10]:
Person().age

36

In [11]:
delattr(Person, 'age')

In [12]:
Person().age

AttributeError: 'Person' object has no attribute 'age'

In [13]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

In [14]:
x = hasattr(Person, 'age')
x

True

# Meta Class

In [ ]:
class MyMetaClass(type):
    def __new__(cls, name, bases, attrs):
        print(f"\nCreating class: {name}")
        # Extract the inner Meta class if it exists
        meta = attrs.get('Meta', None)
        if meta:
            print("  Found Meta class:")
            for key in dir(meta):
                print("key-> ", key)
                if not key.startswith('__'):
                    print(f"    {key} = {getattr(meta, key)}")
            # Optionally: store meta attributes directly on the class
            attrs['_meta_fields'] = getattr(meta, 'fields', [])
            attrs['_meta_description'] = getattr(meta, 'description', 'N/A')
        # Create the actual class
        return super().__new__(cls, name, bases, attrs)

2️⃣ Use the metaclass in a base class

In [23]:
class MyBaseClass(metaclass=MyMetaClass):
    pass

Creating class: MyBaseClass

3️⃣ Define a class with an inner Meta

In [24]:
class Product(MyBaseClass):
    name = "Sample Product"
    price = 99.99

    class Meta:
        fields = ['name', 'price']
        description = "This class represents a product."

Creating class: Product
  Found Meta class:
key->  __class__
key->  __delattr__
key->  __dict__
key->  __dir__
key->  __doc__
key->  __eq__
key->  __format__
key->  __ge__
key->  __getattribute__
key->  __gt__
key->  __hash__
key->  __init__
key->  __init_subclass__
key->  __le__
key->  __lt__
key->  __module__
key->  __ne__
key->  __new__
key->  __reduce__
key->  __reduce_ex__
key->  __repr__
key->  __setattr__
key->  __sizeof__
key->  __str__
key->  __subclasshook__
key->  __weakref__
key->  description
    description = This class represents a product.
key->  fields
    fields = ['name', 'price']

In [25]:
obj = Product

In [26]:
print(Product._meta_fields)    
print(Product._meta_description)

['name', 'price']
This class represents a product.